/**/
	@import url('https://fonts.googleapis.com/css?family=Montserrat');

	body {
		font-family: 'Montserrat', sans-serif;
		background-color: #f9fbfd;
	}

	a {
		text-decoration: none;
		color: #29ab47;
		cursor: pointer;
	}

	img {
		max-width: 100%;

		border-radius: 2px;
	}

/*header*/

	.main-title {
		font-size: 2em;
		font-weight: bold;
		text-align: center;

		margin: .7em;
	}

/*footer*/

	.footer {
		font-size: 1.2em;

		border-top: solid 1px black;

		padding: 1em;
	}
		.footer-wrapper {
			text-align: center;
		}
