/**/
	@import url('https://fonts.googleapis.com/css?family=Montserrat');

	body {
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 1em;
		background-color: #f9fbfd;
	}

	a {
		text-decoration: none;
		color: #29ab47;
		cursor: pointer;
	}

/*header*/

	.main-title {
		font-size: 2em;
		text-align: center;

		padding: .5em;
		margin: .2em 0 .7em;

		border-bottom: solid 1px black;
	}

/*footer*/

	.footer {
		font-size: 1.2em;

		border-top: solid 1px black;

		padding: 1em;
	}
		.footer-wrapper {
			text-align: center;
		}
