<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>Home | My Web Central</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

	</head>

	<body>

		<header>
			<h1 class="main-title"> My Web Central </h1>
		</header>

		<main class="content">
			
			<section class="weather">

				<article class="weather-content">

					<h2 class="main-subtitle">Weather Forecast</h2>

					<span class="weather-now"> Now ~{{ temperature_now }}°C </span>

					<table class="table">
						<tbody>
							<tr class="time-info">
								{% for hour in one_hour_later %}
										<td>{{ hour }}hrs</td>
								{% endfor %}

							</tr>
							<tr class="temperature-info">
								{% for temperature in temperature_to_one_hour_later %}
									<td>{{ temperature }}°C</td>
								{% endfor %}

							</tr>
						</tbody>
					</table>

				</article>
			</section>

			<section class="bus-time">

				<article class="bus-time-content">

					<h2 class="main-subtitle">Bus Arrival</h2>

					<span class="bus-arrival">{{ bus_arrival }} Hrs</span>
				</article>
			</section>
		</main>
		<footer class="footer">
			<div class="footer-wrapper">
				<span>See the source code on 
					<a href="https://github.com/rafa-leao/my-news-central" target="_blank">My GitHub</a>
				</span>
			</div>
		</footer>
	</body>
</html>